<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>扫码加入会员</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=640,user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="../../../../Public/wechat/css/style.css" rel="stylesheet" />
    <link href="../../../../Public/wechat/css/index.css" rel="stylesheet" />
</head>
<body>
    <header><img src="../../../../Public/wechat/images/header.png" /></header>
    <article>
        <ul>
            <li class="shangou">
                <h4><strong>闪GO</strong>会员召集</h4>
                <div class="rq-code"><img src="../../../../Public/wechat/images/re-code.png" /></div>
                <div class="rq-code-copy">闪电蜂会员俱乐部欢迎您</div>
            </li>
            <li class="zhenxiang">
                <h4><strong>臻享</strong>会员召集</h4>
                <div class="rq-code"><img src="../../../../Public/wechat/images/re-code.png" /></div>
                <div class="rq-code-copy">闪电蜂会员俱乐部欢迎您</div>
            </li>
        </ul>
    </article>
</body>
</html>
