<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>臻享会员</title>
    <link href="../../../../Public/wechat/css/style.css" rel="stylesheet" />
    <link href="../../../../Public/wechat/css/from.css" rel="stylesheet" />
</head>
<body><div class="view zhenxiang">
        <header>
            <span class="icon-arrow-left"></span>
            <h1>臻享 会员信息注册</h1>
            <span>完成</span>
        </header>
        <article>
            <div class="cell">
                <div class="tit">姓名</div>
                <div class="cnt"><input type="text" class="input" placeholder="请输入姓名" /></div>
            </div>
            <div class="cell">
                <div class="tit">电话</div>
                <div class="cnt"><input type="tel" class="input" placeholder="+86" /></div>
            </div>
            <div class="cell">
                <div class="tit">性别</div>
                <div class="cnt cnt-radio">
                    <span class="radio"><input type="radio" name="gender" class="radio-input" id="male" checked="checked" /><label for="male">男</label></span>
                    <span class="radio"><input type="radio" name="gender" class="radio-input" id="female" /><label for="female">女</label></span>
                </div>
            </div>
            <div class="cell cell-multi">
                <div class="tit">年龄</div>
                <div class="cnt cnt-radio">
                    <span class="radio"><input type="radio" name="age" class="radio-input" id="Radio1" checked="checked" /><label for="Radio1">15岁以下</label></span>
                    <span class="radio"><input type="radio" name="age" class="radio-input" id="Radio2" /><label for="Radio2">15-30岁</label></span>
                    <span class="radio"><input type="radio" name="age" class="radio-input" id="Radio3" /><label for="Radio3">30-45岁</label></span>
                    <span class="radio"><input type="radio" name="age" class="radio-input" id="Radio4" /><label for="Radio4">45-60岁</label></span>
                    <span class="radio"><input type="radio" name="age" class="radio-input" id="Radio5" /><label for="Radio5">60岁以上</label></span>
                </div>
            </div>
            <div class="cell">
                <div class="tit">手机品牌</div>
                <div class="cnt">
                    <select class="select">                    
                        <option>请输入品牌</option>
                        <option>苹果</option>
                        <option>三星</option>
                        <option>华为</option>
                    </select>
                </div>
            </div>
            <div class="cell">
                <div class="tit">手机购买日期</div>
                <div class="cnt"><input type="date" class="input input-date" placeholder="请选择日期" /></div>
            </div>
            <div class="cell">
                <div class="tit">专属服务代码</div>
                <div class="cnt"><input type="text" class="input" placeholder="请输入服务代码" /></div>
            </div>
            <div class="cell">
                <div class="tit">身份证号码</div>
                <div class="cnt"><input type="text" class="input" placeholder="请输入身份证号码" /></div>
            </div>
            <div class="cell">
                <div class="tit">详细住址</div>
                <div class="cnt"><input type="text" class="input" placeholder="请输入地址" /></div>
            </div>
            <div class="cell">
                <div class="tit">会员卡密码</div>
                <div class="cnt"><input type="text" class="input" placeholder="请输入密码" /></div>
            </div>
        </article>
        <footer>注册后将享有更多免费服务</footer>
    </div>
</body>
</html>
