<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>臻享会员权益</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=640,user-scalable=no" />
    <link href="../../../../Public/wechat/css/style.css" rel="stylesheet" />
    <link href="../../../../Public/wechat/css/detail.css" rel="stylesheet" />
</head>
<body class="zhenxiang">
    <header><i class="icon-yes"></i>注册成功，恭喜您成为臻享会员。</header>
    <div class="cell">
        <div class="tit">闪GO会员<em>VIP</em></div>
        <div class="cnt">闪卡会员号：<strong>0000000001</strong></div>
    </div>
    <div class="tt">您享有以下服务</div>
    <article>
        <div class="rows">
            <div class="cols cm2" style="flex:2;width: 66.6666%;">
                <div>
                    <em>1</em>
                    <h1>附件<br /><small>8.5折优惠</small></h1>
                    <ul>
                        <li><img src="../../../../Public/wechat/images/img1.png" /></li>
                        <li><img src="../../../../Public/wechat/images/img2.png" /></li>
                    </ul>
                    <a class="show-detail" href="#" data-id="1" data-tit="附件9.5折优惠" data-msg="顾客到店购买附件类产品，均可享受门店零售价8.5折的优惠。" data-date="2016-2-17~2017-2-17">查看详情</a>
                </div>
            </div>
            <div class="cols cp">
                <div>
                    <em>2</em>
                    <h1>备机服务</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="2" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>免费</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows">
            <div class="cols cp">
                <div>
                    <em>3</em>
                    <h1 style="font-size: 20px;line-height: 24px;margin-top: 22px;">手机消毒<br />故障检测</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="3" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>免费</span>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div>
                    <em>4</em>
                    <h1 style="margin-left: 4px;">数据转移，永久<br />性资料安全擦除</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="4" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>免费</span>
                    </div>
                </div>
            </div>
            <div class="cols cp">
                <div>
                    <em>5</em>
                    <h1>顾客问题专属<br />一对一解答</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="5" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>免费</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows">            
            <div class="cols">
                <div>
                    <em>6</em>
                    <h1>50元维修券<br />（3张）</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="6" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>剩余3张</span>
                    </div>
                </div>
            </div>
            <div class="cols cp">
                <div>
                    <em>7</em>
                    <h1>积分换领实物<br /><small>现有20积分</small></h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="7" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>已用完</span>
                    </div>
                </div>
            </div>
            <div class="cols sellOut">
                <div>
                    <em>8</em>
                    <h1>免费上门服务<br />（3次）</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="8" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>已用完</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows">            
            <div class="cols cp">
                <div>
                    <em>9</em>
                    <h1>手机贴膜</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="9" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>免费</span>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div>
                    <em class="max">10</em>
                    <h1>会员生日<br />专属礼物</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="10" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>1份</span>
                    </div>
                </div>
            </div>
            <div class="cols cp">
                <div>
                    <em class="max">11</em>
                    <h1>价值100元<br />以旧换新券</h1>
                    <div class="clear">
                        <a class="show-detail" href="#" data-id="11" data-tit="标题" data-msg="说明" data-date="2016-2-17~2017-2-17">查看详情</a>
                        <span>2张</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="btns">
        <!--<span class="btn js-btn">收藏到我的图片</span>-->
        <span class="btn js-btn disabled">已收藏</span>        
    </div>
    <div class="alert-box" id="alert">
        <div class="alert-main">
            <div class="alert-header">权益说明<span class="close">&times;</span></div>
            <div class="alert-body" id="alertBody"></div>
            <div class="alert-footer" id="alertFooter"></div>
        </div>
    </div>
    <script src="../../../../Public/wechat/js/jquery-2.1.3.min.js"></script>
    <script src="../../../../Public/wechat/js/script.js"></script>
</body>
</html>
